body
{ 
    font-size:80%;
    font-family:"Helvetica Neue", Helvetica, Sans-serif;
    background-color:#FFF;
    color: #B1B0A9;
    padding:20px;
    margin:0px;
    text-align: center;
}

#body-center {
    margin: 0px auto;
    padding: 0px;
    width: 50%;
}

a {outline: none;}
a:link {text-decoration:none; color:#B1B0A9;}
a:visited {text-decoration:none; color:#B1B0A9;}
a:hover {text-decoration:none; color: #E4E5E3;}
a:active {text-decoration:none; color: #E4E5E3;}

/*Logo style*/
#logo-center {
    position:fixed;
    top:50%;
    left-padding:30%;
    right-padding:30%;
    width:40%;
}

#logo {
    width:10px;
}


/*Sets menu style*/
.menu {
    width:50%;
    margin-top:0em;
    margin-bottom:0em;
}

.menu_p {
    text-align:right;
    margin-top:0em;
    margin-bottom:0em;
}
